
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/Menu/navbarmenu.js"></script>
</head>
<body onload="navbarMenu()">
</body>
</html>
